@use '../../utils' as *;

/*----------------------------------------*/
/*  3.1 header-common
/*----------------------------------------*/
.header-2 {
	top: 20px;
	left: 0;
	padding: 0;
	width: 100%;
	z-index: 1030;
	background-color: transparent;
	position: fixed;

	&.rr-sticky {
		box-shadow: none;
		top: 0;
		background: var(--rr-theme-secondary);

		.header {

			&__top {
				top: -100%;
				position: absolute;
				@include transform(translate(0, -100%));
			}

			&__main-wrapper {
				border: none;
				box-shadow: none;
				background: inherit;
			}
		}
	}

	.header {

		&__top {
			padding: 0;
			border: none;

			&-menu {
				gap: 39px;

				li {
					&:after {
						display: none;
					}
					a {
						font-style: normal;
						font-weight: 400;
						font-size: 14px;
						gap: 7px;
						display: flex;
						align-items: center;
						line-height: 20px;
					}
				}

				&-2 {
					li a {
						font-weight: var(--rr-fw-medium);
					}
				}
			}
		}

		&__bottom-menu {
			gap: 24px;
			li {
				list-style: none;

				&:last-child {
					a {
						margin-right: 13px;
					}
				}

				a {
					position: relative;
					z-index: 1;

					span {
						@include border-radius(500px);
						display: flex;
						align-items: center;
						justify-content: center;
						right: -13px;
						position: absolute;
						width: 18px;
						height: 18px;
						z-index: 1;
						top: -4px;
						background: var(--rr-theme-primary);
						font-style: normal;
						font-weight: 700;
						font-size: 12px;
						line-height: 15px;
						text-transform: uppercase;
						color: var(--rr-common-white);
					}
				}

				a, button {
					&:hover {
						svg path[stroke="white"] {
							stroke: var(--rr-theme-primary);
						}
						svg path[fill="white"] {
							fill: var(--rr-theme-primary);
						}
					}
				}
			}
		}

		&__main-wrapper {
			padding: 13px 20px 16px;
			background: var(--rr-theme-secondary);
			border: 1px solid rgba(255, 255, 255, 0.11);
			box-shadow: 0px 12px 48px rgba(0, 0, 0, 0.32);
			@include border-radius(4px);

			@media #{$xs} {
				padding: 14px 15px;
			}
		}

		&__hamburger {
			.sidebar__toggle {
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.bar-icon {
				width: 25px;
				height: 9px;
				span {
					background-color: #D9D9D9;
					height: 1px;
				}
			}
		}

		&__main {
			margin: 14px 0 11px;
			@include border-radius(4px);
			background-color: var(--rr-theme-primary);
			padding: 15px 20px 11px 30px;

			@media #{$xs} {
				margin: 0;
			}

			@media #{$xs, $sm, $md, $lg} {
				padding: 15px 15px;
			}

			.main-menu {

				ul {
					 li {
						 @media (max-width:1399px) {
							 &:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)):not(:nth-child(5)) {
								 display: none;
							 }
						 }
					 }
				}
			}
		}

		&__left {
			gap: 18px;
		}

		&__lang__select {
			.nice-select{
				box-sizing: border-box;
				clear: both;
				cursor: pointer;
				display: block;
				float: left;
				outline: none;
				position: relative;
				text-align: left;
				-webkit-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				white-space: nowrap;
				width: 100%;
				z-index: inherit;
				padding: 0;
				border: none;
				height: inherit;
				font-family: var(--rr-ff-jost);
				font-style: normal;
				@include border-radius(0px);
				color: var(--rr-common-white);
				background-color: inherit;
				font-weight: 600;
				font-size: 14px;
				line-height: 20px;
				text-transform: uppercase;

				@include  rr-placeholder{
					color: var(--rr-common-white);
				}

				&:hover{
					border-color: #dbdbdb;
				}
				&:active,
				&.open,
				&:focus{
					border-color: #999;
				}
				&::after{
					 display: none;
				}

				&.open{
					&::after{
						@include transform(translateY(-50%) rotate(-180deg));
					}
					& .list{
						opacity: 1;
						pointer-events: auto;
						-webkit-transform: scale(1) translateY(0);
						-ms-transform: scale(1) translateY(0);
						transform: scale(1) translateY(0);
					}
				}
				&.disabled{
					border-color: #ededed;
					color: #999;
					pointer-events: none;
					&::after{
						border-color: #cccccc;
					}
				}
				&.wide{
					width: 100%;

					& .list{
						left: 0;
						right: 0;
					}
				}
				&.right{
					float: right;

					& .list{
						left: auto;
						right: 0;
					}
				}
				&.small{
					font-size: 12px;
					height: 36px;
					line-height: 34px;
					&::after{
						height: 4px;
						width: 4px;
					}
					& .option{
						line-height: 34px;
						min-height: 34px;
					}
				}
				& .list{
					border: 1px solid  #C9F3FF;
					width: 100%;
					min-width: 94px;
					background-color: #fff;
					border-radius: 5px;
					box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
					box-sizing: border-box;
					margin-top: 4px;
					opacity: 0;
					overflow: hidden;
					padding: 0;
					pointer-events: none;
					position: absolute;
					top: 100%;
					left: 0;
					-webkit-transform-origin: 50% 0;
					-ms-transform-origin: 50% 0;
					transform-origin: 50% 0;
					-webkit-transform: scale(0.75) translateY(-21px);
					-ms-transform: scale(0.75) translateY(-21px);
					transform: scale(0.75) translateY(-21px);
					-webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
					transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
					z-index: 9;
				}
				& .option{
					cursor: pointer;
					font-weight: 400;
					line-height: 40px;
					list-style: none;
					min-height: inherit;
					outline: none;
					padding-left: 18px;
					padding-right: 29px;
					text-align: left;
					-webkit-transition: all 0.2s;
					color: var(--rr-heading-primary);
					transition: all 0.2s;
					&:hover {
						background-color: #f6f7f9;
					}
					&.selected{
						font-weight: bold;
					}
					&.disabled{
						background-color: transparent;
						color: #999;
						cursor: default;
					}
				}
			}
			.no-csspointerevents {
				.nice-select {
					.list {
						display: none;
					}
					&.open {
						.list {
							display: block;
						}
					}
				}
			}
		}
	}
}