@use '../../utils' as *;

/*----------------------------------------*/
/*  3.1 header-common
/*----------------------------------------*/

.header {
	
	&__area {
		background-color: transparent;
	}
	
	&__logo {
		max-width: 166px;
	}
	
	&__main {
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		@media #{$xs, $sm, $md, $lg} {
			padding: 15px 0;
		}
	}

	&__top {
		padding: 19px 0;
		border-bottom: 1px solid #201F1F;
		@extend %rr-transition-3;

		&-menu {
			gap: 50px;
			list-style: none;

			li {
				font-family: var(--rr-ff-heading);
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 23px;
				color: var(--rr-common-white);
				position: relative;

				&.no_bullet:after {
					display: none;
				}

				&:after {
					content: "";
					position: absolute;
					width: 6px;
					height: 6px;
					background: #484848;
					right: -24px;
					@include transform(rotate(45deg));
					top: 50%;
					@extend %translateY1_2;
				}

				a {
					font-family: var(--rr-ff-heading);
					font-style: normal;
					font-weight: 400;
					font-size: 16px;
					line-height: 23px;
					color: var(--rr-common-white);

					&:hover {
						color: var(--rr-theme-primary);
					}
				}
			}
		}
	}
}

.rr-sticky {
	position: fixed;
	top: 0;
	z-index: 111;
	inset-inline-end: 0;
	inset-inline-start: 0;
	width: 100%;
	animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
	border-top: 0;
	background-color: var(--rr-theme-secondary);
	box-shadow: 0px 2px 4px rgba(29, 29, 29, 0.14);
}

.bar-icon {
	width: 26px;
	height: 18px;
	@include flexbox();
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	transition: color .2s ease-out;
	span {
		width: 100%;
		height: 2px;
		background: var(--rr-theme-primary);
		display: inline-block;
		transition: color .2s ease-out;
		&:nth-child(2) {
			margin-left: 0px;
		}
	}
	&:hover {
		span {
			animation: qode-draw .8s cubic-bezier(.44,1.1,.53,.99) 1 forwards;
			&:nth-child(2) {
				margin-left: 0px;
				animation-delay: .1s;
			}
			&:nth-child(3) {
				animation-delay: .2s;
			}
		}
	}
	&.is-black {
		span {
			background: var(--rr-common-black);
		}
	}
	&.is-white {
		span {
			background: var(--rr-common-white);
		}
	}
}