@use '../../utils' as *;

/*----------------------------------------*/
/*  3.1 header-common
/*----------------------------------------*/
.header-1 {
	padding: 0;
	background-color: var(--rr-theme-secondary);
	box-shadow: none;

	&.rr-sticky {
		box-shadow: 0px 2px 4px rgba(29, 29, 29, 0.14);

		.header__top {
			top: -100%;
			position: absolute;
			@include transform(translate(0, -100%));
		}
	}

	@media (min-width: 1400px) {

		.container,
		.container-lg,
		.container-md,
		.container-sm,
		.container-xl,
		.container-xxl {
			max-width: 1790px;
		}
	}

	.header {

		&__main {

			.main-menu {

				ul {
					 li {
						 @media (max-width:1199px) {
							 &:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)):not(:nth-child(5)) {
								 display: none;
							 }
						 }
					 }
				}
			}
		}
	}
}