@use '../../utils' as *;

/*----------------------------------------*/
/*  6.1 footer
/*----------------------------------------*/

// Footer style
.footer__area-common {
	background-position: left bottom;
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
	
	.col-6 {
		@media (max-width:480px) {
			flex-shrink: 0;
			width: 100%;
			max-width: 100%;
			padding-right: calc(var(--bs-gutter-x) * .5);
			padding-left: calc(var(--bs-gutter-x) * .5);
			margin-top: var(--bs-gutter-y);
		}
	}

	.container {
		position: relative;
		z-index: 1;

		.bg-shape {
			position: absolute;
			width: 302px;
			height: 533px;
			z-index: -1;
			right: -343px;
			bottom: -221px;
		}
	}

	.rr-instragram-gallery {
		display: grid;
		grid-gap: 7px;
		grid-template-columns: 1fr 1fr 1fr;

		a {
			display: block;
			position: relative;
			z-index: 1;

			&:hover {
				&:after {
					opacity: .8;
				}
				&:before {
					opacity: 1;
				}
			}

			&:after {
				width: 100%;
				height: 100%;
				object-fit: cover;
				position: absolute;
				top: 0;
				z-index: 2;
				left: 0;
				opacity: 0;
				content: "";
				background: var(--rr-theme-primary);
				@extend %rr-transition-3;
			}
			&:before {
				width: 30px;
				height: 30px;
				object-fit: cover;
				position: absolute;
				z-index: 3;
				top: 50%;
				left: 50%;
				opacity: 0;
				content: "";
				filter: brightness(0) invert(1);
				@include transform(translate(-50%, -50%));
				background-image: url("../imgs/icon/instagram.svg");
				@extend %rr-transition-3;
				background-repeat: no-repeat;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}

.footer {

	&__overlay:after {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		content: "";
		position: absolute;
		background: linear-gradient(90deg, rgba(17, 17, 17, 0.85) 0%, #111111 40.29%);
	}
	
	&__widget {
		margin-bottom: 50px;

		&.footer__widget-item-1 {
			padding-right: 48px;
			@media #{$md, $sm, $xs, $lg, $xl} {
				padding-right: 0;
			}
		}
		&.footer__widget-item-2 {
			padding-left: 16px;
			padding-right: 32px;
			@media #{$xl} {
				padding-right:30px;
			}
			@media #{$lg} {
				padding-right:10px;
			}
			@media #{$md, $sm, $xs} {
				padding-left: 0;
				padding-right: 0;
			}
		}
		&.footer__widget-item-3 {
			padding-right: 16px;
			padding-left: 32px;
			@media #{$xl} {
				padding-left:30px;
			}
			@media #{$lg} {
				padding-left:10px;
			}
			@media #{$md, $sm, $xs} {
				padding-left: 0;
				padding-right: 0;
			}
		}
		&.footer__widget-item-4 {
			padding-left: 48px;
			@media #{$xl} {
				padding-left:30px;
			}
			@media #{$lg} {
				padding-left:10px;
			}
			@media #{$md, $sm, $xs} {
				padding-left: 0;
			}
		}

		&-title {
			h4 {
				margin-bottom: 29px;
				position: relative;
				z-index: 10;
				padding-bottom: 15px;
				font-family: var(--rr-ff-heading);
				font-style: normal;
				font-weight: 600;
				font-size: 20px;
				line-height: 29px;
				text-transform: uppercase;
				color: var(--rr-common-white);
				border-bottom: 1px solid #3A3940;
			}
		}
	}
	
	&__social {
		@include flexbox();
		gap: 8px;
		
		a {
			color: var(--rr-theme-secondary);
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			width: 40px;
			height: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			background: #E8E8E8;
			@include border-radius(500px);

			@media #{$lg, $md, $xs, $sm} {
				width: 35px;
				height: 35px;
			}

			&:hover {
				background: var(--rr-theme-primary);
				color: var(--rr-common-white);
				@include transform( scale(1.09) translateY(-3px));

				svg path[fill="#111111"] {
					fill: var(--rr-common-white);
				}
			}
		}
	}

	&__link {

		ul {
			list-style: none;
			display: grid;
			grid-gap: 7px;
			padding: 0;

			li {
				color: var(--rr-common-white);
				font-family: var(--rr-common-white);
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 32px;

				a {
					color: var(--rr-common-white);
					font-family: var(--rr-common-white);
					font-style: normal;
					font-weight: 400;
					font-size: 16px;
					line-height: 32px;

					i {
						font-size: 16px;
						margin-right: 18px;
						@extend %rr-transition-3;
						color: var(--rr-common-white);
					}

					&:hover, &:hover i {
						color: var(--rr-theme-primary);
					}
				}
			}
		}

		&-touch {
			ul {
				gap: 2px;
			}
		}
		&-working {
			ul {
				gap: 4px;

				li {
					&:last-child {
						margin-top: 31px;

						@media #{$xxs} {
							margin-top: 10px;
						}
					}
				}
			}
		}
	}
}