@use '../../utils' as *;

/*----------------------------------------*/
/*  6.3 footer-copyright
/*----------------------------------------*/
// Footer bottom style
.footer {

	&__top-content {
		p {
			font-family: var( --rr-ff-jost);
			font-style: normal;
			font-weight: 400;
			font-size: 24px;
			line-height: 35px;
			color: #8F9495;

			a {
				color: var(--rr-common-white);
				text-decoration: underline;

				&:hover {
					color: var(--rr-theme-primary);
				}
			}
		}
	}

	&__top-contact-btn {
		display: flex;
		align-items: center;
		justify-content: end;
		gap: 14px;

		@media #{$md, $sm, $xs, $lg} {
			margin-top: 25px;
			justify-content: center;
		}

		span {
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			color: #8F9495;
		}

		h6 {
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 26px;
			text-transform: uppercase;
			color: #8F9495;

			a {
				color: var(--rr-common-white);

				&:hover {
					color: var(--rr-theme-primary);
				}
			}
		}
	}


	&__top-wrapper {
		background: #1A1A1A;
		padding: 57.5px 0;
	}
}