@use '../../utils' as *;

/*----------------------------------------*/
/*  6.3 footer-copyright
/*----------------------------------------*/
// Footer bottom style
.footer-2 {

	&__copyright {
		p {
			font-family: var( --rr-ff-jost);
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 23px;
			color: var(--rr-common-white);

			a {
				&:hover {
					color: var(--rr-theme-primary);
				}
			}
		}
	}

	&__copyright-menu {
		ul {
			@include flexbox;
			gap: 20px 35px;
			justify-content: end;
			@media #{$xs, $sm, $md} {
				gap: 20px 25px;
				flex-wrap: wrap;
				margin-top: 10px;
				justify-content: center;
			}

			li {
				list-style: none;
				position: relative;

				a {
					font-family: var( --rr-ff-jost);
					font-style: normal;
					font-weight: 400;
					font-size: 16px;
					line-height: 23px;
					color: var(--rr-common-white);

					&:hover {
						color: var(--rr-theme-primary);
					}
				}
			}
		}
	}

	&__bottom {
		padding: 23px 0;
	}
}


