@use "../utils" as *;

/*----------------------------------------*/
/*  2.7 breadcrumb
/*----------------------------------------*/

// Breadcrumb style
.breadcrumb-space {
  padding: 205px 0 212px;
  @media #{$lg} {
    padding: 160px 0 210px;
  }
  @media #{$xs, $sm, $md} {
    padding: 120px 0 180px;
  }
  @media #{$xs} {
    padding: 100px 0 160px;
  }
}

.breadcrumb {

  &__area {
    position: relative;
    z-index: 3;
    margin: 0;

    &.overly:after {
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      content: "";
      height: 100%;
      opacity: 0.73;
      position: absolute;
      background: #0A0A0A;
    }
  }

  &__background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    object-fit: cover;
    background-size: cover;
  }

  .container {
    position: relative;
    z-index: 2;
  }

  &__content {
    position: relative;
    z-index: 6;
  }

  &__big-title {
    bottom: 29px;
    position: absolute;
    z-index: 2;
    font-family: var(--rr-ff-jost);
    font-style: normal;
    font-weight: 700;
    font-size: 140px;
    line-height: 140px;
    display: flex;
    width: 100%;
    left: 0;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    color: rgb(255 255 255 / 10%);
    @media #{$lg} {
      font-size: 120px;
      line-height:120px;
    }
    @media #{$md, $sm} {
      font-size: 80px;
      line-height:80px;
    }
    @media #{$xs} {
      font-size: 50px;
      line-height: 50px;
    }
    @media #{$xxs} {
      font-size: 40px;
      line-height: 40px;
    }
  }

  &__title {
    z-index: 3;
    position: relative;
    font-style: normal;
    font-family: var(--rr-ff-jost);
    font-weight: 600;
    font-size: 72px;
    line-height: 80px;
    margin-bottom: 5px;
    text-transform: uppercase;

    @media #{$lg} {
      font-size: 60px;
      line-height:68px;
    }
    @media #{$md, $sm} {
      font-size: 50px;
      line-height:58px;
    }
    @media #{$xs} {
      font-size: 40px;
      line-height: 48px;
    }
    @media #{$xxs} {
      font-size: 35px;
      line-height: 40px;
    }
  }

  &__menu {
    position: relative;
    z-index: 3;

    ul {
      gap: 18px;
      @include inline-flex();
      justify-content: center;
      flex-direction: row;
      list-style: none;
      flex-wrap: wrap;
      align-items: center;
      
      li {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        position: relative;
        text-transform: uppercase;
        color: var(--rr-common-white);
        
        &:after {
          position: absolute;
          @include transform(translate(0, 10%));
          margin-left: 6px;
          content: "/";
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 16px;
        }
        
        a {
          &:hover {
            color: var(--rr-theme-primary);
          }
        }
        
        &.active {
          color: var(--rr-theme-primary);
          
          &:after {
            display: none;
          }
        }
      }
    }
  }
}