@use '../utils' as *;

/*----------------------------------------*/
/*  2.3 buttons
/*----------------------------------------*/

// Common button
.rr-btn__header {
    padding: 12.5px 20px 12.5px 26px;
    display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	z-index: 5;
    font-family: var( --rr-ff-jost);
	@include border-radius(0px);
    color: transparent;
    border: 1px solid;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    text-transform: uppercase;
    transition: 500ms all ease;

    .fake_hover {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        &:before {
            content: "";
            width: 100%;
            height: 100%;
            bottom: 0px;
            right: 0;
            z-index: -1;
            border: 1px solid var(--rr-theme-primary);
            position: absolute;
            background-color: transparent;
        }
    }

    &:before {
        content: "";
        width: 0%;
        height: 100%;
        left: 0px;
        bottom: -1px;
        border-bottom: 2px solid var(--rr-common-white);
        position: absolute;
        background-color: transparent;
        transition: 200ms;
        transition-delay: 0.2s;
    }
    &:after {
        content: "";
        width: 0%;
        height: 100%;
        right: 0;
        border-top: 2px solid var(--rr-common-white);
        top: -1px;
        position: absolute;
        background-color: transparent;
        transition: 200ms;
        transition-delay: 0.6s;
    }

    .hover-rl {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        &:before {
            content: "";
            width: 100%;
            height: 0%;
            bottom: 0px;
            right: -1px;
            border-right: 2px solid var(--rr-common-white);
            position: absolute;
            background-color: transparent;
            transition: 200ms;
        }
        &:after {
            content: "";
            width: 100%;
            height: 0%;
            top: 0px;
            left: -1px;
            border-left: 2px solid var(--rr-common-white);
            position: absolute;
            background-color: transparent;
            transition: 200ms;
            transition-delay: 0.4s;
        }
    }
    
    .btn-wrap {
        z-index: 1;
        float: left;
        overflow: hidden;
        position: relative;
        display: inline-block;
        border: none;
        
        .text-one, .text-two {
            display: flex;
            align-items: center;
            position: relative;

            &:after {
                content: "";
                width: 30px;
                height: 1px;
                top: 50%;
                right: 28px;
                z-index: -1;
                @extend %translateY1_2;
                position: absolute;
                background-color: var(--rr-common-white);
                animation: leftRightX4 1.3S infinite alternate;
            }

            img {
                margin-left: 62px;
            }
        }
        .text-one {
            position: relative;
            display: block;
            color: var(--rr-common-white);
            @extend %rr-transition-3;
        }
        .text-two {
            position: absolute;
            top: 100%;
            display: block;
            color: var(--rr-common-white);
            @extend %rr-transition-3;
        }
    }
    
	&:hover, &:focus {
        .text-one {
            @include transform(translateY(-150%));
        }
        .text-two {
            top: 50%;
            @include transform(translateY(-50%));
        }

        .hover-rl {

            &:before {
                height: 100%;
                transition-delay: 0.6s;
            }

            &:after {
                height: 100%;
                transition-delay: 0.2s;
            }
        }
        border-color: transparent;
        &:before {
            width: 100%;
            transition-delay: 0.3s;
        }
        &:after {
            width: 100%;
            transition-delay: 0s;
        }
	}
}

.rr-btn-2__header {
    padding: 8.5px 26px;
    display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	z-index: 5;
    font-family: var( --rr-ff-jost);
	@include border-radius(0px);
    color: transparent;
    border: 1px solid;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    transition: 500ms all ease;

    .fake_hover {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        &:before {
            content: "";
            width: 100%;
            height: 100%;
            bottom: 0px;
            right: 0;
            z-index: -1;
            border: 1px solid var(--rr-common-white);
            position: absolute;
            background-color: transparent;
        }
    }

    &:before {
        content: "";
        width: 0%;
        height: 100%;
        left: 0px;
        bottom: -1px;
        border-bottom: 2px solid var(--rr-theme-secondary);
        position: absolute;
        background-color: transparent;
        transition: 200ms;
        transition-delay: 0.2s;
    }
    &:after {
        content: "";
        width: 0%;
        height: 100%;
        right: 0;
        border-top: 2px solid var(--rr-theme-secondary);
        top: -1px;
        position: absolute;
        background-color: transparent;
        transition: 200ms;
        transition-delay: 0.6s;
    }

    .hover-rl {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        &:before {
            content: "";
            width: 100%;
            height: 0%;
            bottom: 0px;
            right: -1px;
            border-right: 2px solid var(--rr-theme-secondary);
            position: absolute;
            background-color: transparent;
            transition: 200ms;
        }
        &:after {
            content: "";
            width: 100%;
            height: 0%;
            top: 0px;
            left: -1px;
            border-left: 2px solid var(--rr-theme-secondary);
            position: absolute;
            background-color: transparent;
            transition: 200ms;
            transition-delay: 0.4s;
        }
    }

    .btn-wrap {
        z-index: 1;
        float: left;
        overflow: hidden;
        position: relative;
        display: inline-block;
        border: none;

        .text-one, .text-two {
            display: flex;
            align-items: center;
            position: relative;
        }
        .text-one {
            position: relative;
            display: block;
            color: var(--rr-common-white);
            @extend %rr-transition-3;
        }
        .text-two {
            position: absolute;
            top: 100%;
            display: block;
            color: var(--rr-common-white);
            @extend %rr-transition-3;
        }
    }

	&:hover, &:focus {
        .text-one {
            @include transform(translateY(-150%));
        }
        .text-two {
            top: 50%;
            @include transform(translateY(-50%));
        }

        .hover-rl {

            &:before {
                height: 100%;
                transition-delay: 0.6s;
            }

            &:after {
                height: 100%;
                transition-delay: 0.2s;
            }
        }
        border-color: transparent;
        &:before {
            width: 100%;
            transition-delay: 0.3s;
        }
        &:after {
            width: 100%;
            transition-delay: 0s;
        }
	}
}

.rr-btn-3__header {
    padding: 13.5px 33.4px;
    display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	z-index: 5;
    font-family: var( --rr-ff-jost);
	@include border-radius(0px);
    color: transparent;
    border: none;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    transition: 500ms all ease;
    background-color: var(--rr-theme-primary);
    font-size: 16px;
    line-height: 23px;
    text-align: center;

    .btn-wrap {
        z-index: 1;
        float: left;
        overflow: hidden;
        position: relative;
        display: inline-block;
        border: none;

        .text-one, .text-two {
            display: flex;
            align-items: center;
            position: relative;
        }
        .text-one {
            position: relative;
            display: block;
            color: var(--rr-common-white);
            @extend %rr-transition-3;
        }
        .text-two {
            position: absolute;
            top: 100%;
            display: block;
            color: var(--rr-common-white);
            @extend %rr-transition-3;
        }
    }

	&:hover, &:focus {
        .text-one {
            @include transform(translateY(-150%));
        }
        .text-two {
            top: 50%;
            @include transform(translateY(-50%));
        }
	}

    &-white {
        padding: 13.5px 31px;
        background-color: var(--rr-common-white);

        .btn-wrap {

            .text-one, .text-two {
                color: var(--rr-theme-secondary);
            }
        }
    }
}

.rr-btn-2 {
    padding: 15px 22px 15px 24px;
    display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	z-index: 5;
    font-family: var( --rr-ff-jost);
	@include border-radius(0px);
    color: transparent;
    border: 1px solid;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    text-transform: uppercase;
    transition: 500ms all ease;

    .fake_hover {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        &:before {
            content: "";
            width: 100%;
            height: 100%;
            bottom: 0px;
            right: 0;
            z-index: -1;
            border: 1px solid var(--rr-theme-primary);
            position: absolute;
            background-color: transparent;
        }
    }

    &:before {
        content: "";
        width: 0%;
        height: 100%;
        left: 0px;
        bottom: -1px;
        border-bottom: 2px solid var(--rr-common-white);
        position: absolute;
        background-color: transparent;
        transition: 200ms;
        transition-delay: 0.2s;
    }
    &:after {
        content: "";
        width: 0%;
        height: 100%;
        right: 0;
        border-top: 2px solid var(--rr-common-white);
        top: -1px;
        position: absolute;
        background-color: transparent;
        transition: 200ms;
        transition-delay: 0.6s;
    }

    .hover-rl {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        &:before {
            content: "";
            width: 100%;
            height: 0%;
            bottom: 0px;
            right: -1px;
            border-right: 2px solid var(--rr-common-white);
            position: absolute;
            background-color: transparent;
            transition: 200ms;
        }
        &:after {
            content: "";
            width: 100%;
            height: 0%;
            top: 0px;
            left: -1px;
            border-left: 2px solid var(--rr-common-white);
            position: absolute;
            background-color: transparent;
            transition: 200ms;
            transition-delay: 0.4s;
        }
    }

    .btn-wrap {
        z-index: 1;
        float: left;
        overflow: hidden;
        position: relative;
        display: inline-block;
        border: none;

        .text-one, .text-two {
            display: flex;
            align-items: center;
            position: relative;

            &:after {
                content: "";
                width: 30px;
                height: 1px;
                top: 50%;
                right: 28px;
                z-index: -1;
                @extend %translateY1_2;
                position: absolute;
                background-color: var(--rr-common-white);
                animation: leftRightX4 1.3S infinite alternate;
            }

            img {
                margin-left: 62px;
            }
        }
        .text-one {
            position: relative;
            display: block;
            color: var(--rr-common-white);
            @extend %rr-transition-3;
        }
        .text-two {
            position: absolute;
            top: 100%;
            display: block;
            color: var(--rr-common-white);
            @extend %rr-transition-3;
        }
    }

	&:hover, &:focus {
        .text-one {
            @include transform(translateY(-150%));
        }
        .text-two {
            top: 50%;
            @include transform(translateY(-50%));
        }

        .hover-rl {

            &:before {
                height: 100%;
                transition-delay: 0.6s;
            }

            &:after {
                height: 100%;
                transition-delay: 0.2s;
            }
        }
        border-color: transparent;
        &:before {
            width: 100%;
            transition-delay: 0.3s;
        }
        &:after {
            width: 100%;
            transition-delay: 0s;
        }
	}
}

.rr-btn {
    padding: 15px 23px;
    display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	z-index: 5;
    font-family: var( --rr-ff-jost);
	@include border-radius(0px);
    color: transparent;
    border: 1px solid;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    text-transform: uppercase;
    transition: 500ms all ease;

    .fake_hover {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        &:before {
            content: "";
            width: 100%;
            height: 100%;
            bottom: 0px;
            right: 0;
            z-index: -1;
            border: 1px solid var(--rr-theme-secondary);
            position: absolute;
            background-color: transparent;
        }
    }

    &:before {
        content: "";
        width: 0%;
        height: 100%;
        left: 0px;
        bottom: -1px;
        border-bottom: 2px solid var(--rr-theme-primary);
        position: absolute;
        background-color: transparent;
        transition: 200ms;
        transition-delay: 0.2s;
    }
    &:after {
        content: "";
        width: 0%;
        height: 100%;
        right: 0;
        border-top: 2px solid var(--rr-theme-primary);
        top: -1px;
        position: absolute;
        background-color: transparent;
        transition: 200ms;
        transition-delay: 0.6s;
    }

    .hover-rl {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        &:before {
            content: "";
            width: 100%;
            height: 0%;
            bottom: 0px;
            right: -1px;
            border-right: 2px solid var(--rr-theme-primary);
            position: absolute;
            background-color: transparent;
            transition: 200ms;
        }
        &:after {
            content: "";
            width: 100%;
            height: 0%;
            top: 0px;
            left: -1px;
            border-left: 2px solid var(--rr-theme-primary);
            position: absolute;
            background-color: transparent;
            transition: 200ms;
            transition-delay: 0.4s;
        }
    }

    .btn-wrap {
        z-index: 1;
        float: left;
        overflow: hidden;
        position: relative;
        display: inline-block;
        border: none;

        .text-one, .text-two {
            display: flex;
            align-items: center;
            position: relative;

            &:after {
                content: "";
                width: 50px;
                height: 1px;
                top: 50%;
                right: 26px;
                z-index: -1;
                @extend %translateY1_2;
                position: absolute;
                background-color: var(--rr-theme-secondary);
                animation: leftRightX4 1.3S infinite alternate;
            }

            img {
                padding-left:69px;
            }
        }
        .text-one {
            position: relative;
            display: block;
            color: var(--rr-theme-secondary);
            @extend %rr-transition-3;
        }
        .text-two {
            position: absolute;
            top: 100%;
            display: block;
            color: var(--rr-theme-secondary);
            @extend %rr-transition-3;
        }
    }

	&:hover, &:focus {
        .text-one {
            @include transform(translateY(-150%));
        }
        .text-two {
            top: 50%;
            @include transform(translateY(-50%));
        }

        .hover-rl {

            &:before {
                height: 100%;
                transition-delay: 0.6s;
            }

            &:after {
                height: 100%;
                transition-delay: 0.2s;
            }
        }
        border-color: transparent;
        &:before {
            width: 100%;
            transition-delay: 0.3s;
        }
        &:after {
            width: 100%;
            transition-delay: 0s;
        }
	}

    &__white {
        .fake_hover:before {
            border-color: var(--rr-common-white);
        }
        .btn-wrap {

            .text-one, .text-two {
                color: var(--rr-common-white);
                &:after {
                    background: var(--rr-common-white);
                }

                img {
                    filter: brightness(0) invert(1);
                }
            }
        }
    }

    &__red {
        padding: 10px 18.5px;
        &:after, &:before {
            border-color: var(--rr-theme-secondary);
        }
        .hover-rl {
            &:after, &:before {
                border-color: var(--rr-theme-secondary);
            }
        }
        .fake_hover:before {
            border-color: var(--rr-theme-primary);
        }
        .btn-wrap {

            .text-one, .text-two {
                color: var(--rr-theme-primary);
                &:after {
                    width: 20px;
                    background: var(--rr-theme-primary);
                }

                img {
                    padding-left: 43px;
                }
            }
        }
    }
}

.rr-btn-solid {
    @include border-radius(0);
    justify-content: center;
    position: relative;
    overflow: hidden;
    z-index: 5;
    padding: 13.5px 29px;
    background-color: var(--rr-theme-primary);
    color: var(--rr-common-white);
    font-family: var(--rr-common-white);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    &:after {
        display: block;
        clear: both;
        content: "";
    }

    .btn-wrap {
        z-index: 1;
        float: left;
        overflow: hidden;
        position: relative;
        display: inline-block;
        border: none;

        .text-one, .text-two {
            display: flex;
            align-items: center;
        }

        .text-one {
            position: relative;
            display: block;
            color: var(--rr-common-white);
            @extend %rr-transition-3;
        }

        .text-two {
            position: absolute;
            top: 100%;
            display: block;
            color: var(--rr-common-white);
            @extend %rr-transition-3;
        }
    }

    &-2 {
        padding: 16px 44px;
    }

    &:hover, &:focus {
        .text-one {
            @include transform(translateY(-150%));
        }
        .text-two {
            top: 50%;
            @include transform(translateY(-50%));
        }
    }
}