@use '../utils' as *;

/*----------------------------------------*/
/*  2.12 preloader
/*----------------------------------------*/
.preloader-close {
	position: fixed;
	z-index: 99999999;
	font-size: 26px;
	color: var(--rr-common-white);
	background: var(--rr-theme-primary);
	width: 40px;
	height: 40px;
	line-height: 36px;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;
	right: 30px;
	top: 30px;
}
#preloader {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #121212;
	z-index: 9999;
}
.sk-three-bounce {
	margin: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #121212;
}
.sk-three-bounce .sk-child {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	background-color: var(--rr-theme-primary);
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
	animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
}
.sk-three-bounce.is-primary1.sk-three-bounce .sk-child { background-color: var(--rr-theme-primary1); }
.preloader-close.is-primary1 { background: var(--rr-theme-primary1); }
.sk-three-bounce.is-primary2.sk-three-bounce .sk-child { background-color: var(--rr-theme-primary2); }
.preloader-close.is-primary2 { background: var(--rr-theme-primary2); }

.sk-three-bounce .sk-bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.sk-three-bounce .sk-bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
@-webkit-keyframes sk-three-bounce {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes sk-three-bounce {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

.loading-form {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 9999;
	background: #000;
	opacity: .7;
	display: none;
}
.success-message { color: var(--rr-theme-secondary); }
.error-message { color: red; }

/*rr-restaurant preloader*/
@keyframes capAnimation {
	0% {
		transform: rotate(5deg);
	}
	50% {
		transform: rotate(-5deg);
	}
	100% {
		transform: rotate(5deg);
	}
}
.rr-restaurant {
	svg {
		height: 20vh;
		width: 100%;
	}
	.loading-wrapper {
		position: absolute;
		text-align: center;
		padding-top: 50px;
		min-height: 200px;
		min-width: 250px;
		left: 50%;
		top: 50%;
		right: 0;
		bottom: 0;
		transform: translate(-50%, -50%);
		.loading-text {
			text-align: center;
			margin: 20px;
			text-transform: uppercase;
			h2 {
				color: var(--rr-theme-primary);
			}

			.letter {
				display: inline-block;
				cursor: pointer;
				text-shadow: 0px 2px 8px white;
			}
		}
		svg {
			#cap {
				transform-origin: center;
				animation: capAnimation 1s ease-in-out infinite;
				fill: var(--rr-theme-primary);
			}
			#body {
				fill: var(--rr-theme-primary);
			}
			#elem-1, #elem-3, #elem-2 {
				transition: inherit;
			}
		}
		svg {
			.smell {
				opacity: 0;
				fill: #fff;
			}
		}
	}
}