@use '../../utils' as *;
/*----------------------------------------*/
/*  9.1 banner Style 1
/*----------------------------------------*/

// Banner style
.banner {

	&__slider {
		.swiper-slide-active {
			.banner__item {

				&-bg {
					@include transform(scale(1.3));
				}

				&-content {

					h1 {
						clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
						span.bar span:after { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
						span.bar span:before { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
					}
				}
			}
		}
	}

	&__item {
		overflow: hidden;
		z-index: 1;
		position: relative;
		padding-top: 213px;
		padding-bottom: 233px;
		background: var(--rr-theme-secondary);

		@media #{$lg} {
			padding-top: 200px;
			padding-bottom: 220px;
		}
		@media #{$md} {
			padding-top: 170px;
			padding-bottom: 190px;
		}
		@media #{$sm} {
			padding-top: 140px;
			padding-bottom: 160px;
		}
		@media #{$xs} {
			padding-top: 130px;
			padding-bottom: 160px;
		}

		&-bg {
			z-index: -1;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-position: center;
			content: "";
			position: absolute;
			transition: all 6s ease;
		}

		&:before {
			content: "";
			width: calc(100% - 160px);
			height: calc(100% - 158px);
			z-index: 0;
			top: 50%;
			left: 50%;
			position: absolute;
			mix-blend-mode: normal;
			@include transform(translate(-50%, -50%));
			border: 2px solid rgba(255, 255, 255, 0.1);
			@media #{$sm, $xs} {
				display: none;
			}
		}

		&-overlay:after {
			content: "";
			width: 100%;
			height: 100%;
			z-index: -1;
			top: 0;
			left: 0;
			position: absolute;
			background: rgba(10, 5, 4, 0.67);
		}

		&-content {
			position: relative;
			z-index: 1;

			h1 {
				transition: all .7s ease-in-out;
				color: var(--rr-common-white);
				clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

				font-family: var(--rr-ff-jost);
				text-transform: uppercase;
				font-style: normal;
				font-weight: 700;
				font-size: 80px;
				line-height: 116px;

				@media #{$md} {
					font-size: 60px;
					line-height: 96px;
				}
				@media #{$sm} {
					font-size: 50px;
					line-height: 75px;
				}
				@media #{$xs} {
					font-size: 34px;
					line-height: 44px;
				}

				span {
					display: block;
					font-size: 48px;
					font-weight: 600;
					line-height: 65px;
					font-style: normal;

					@media #{$md} {
						font-size: 38px;
						line-height: 55px;
					}
					@media #{$sm} {
						font-size: 33px;
						line-height: 50px;
					}
					@media #{$xs} {
						font-size: 28px;
						line-height: 38px;
					}

					&.bar span {
						z-index: 1;
						position: relative;
						display: inline-block;

						&:after, &:before {
							z-index: -1;
							width: 140px;
							content: "";
							top: 50%;
							height: 1px;
							position: absolute;
							background: var(--rr-common-white);
							@include transform(translate(-50%, 0));
							transition: all 1s ease;
							transition-delay: 1s;

							@media #{$sm, $xs} {
								width: 80px;
							}
						}

						&:before {
							left: -92px;
							clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
							@media #{$sm, $xs} {
								left: -65px;
							}
						}

						&:after {
							right: -232px;
							clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
							@media #{$sm, $xs} {
								right: -145px;
							}
						}
					}
				}
			}

			&-link {
				gap: 70px;
				align-items: center;
				justify-content: center;
				display: flex;

				@media #{$xs, $sm} {
					gap: 30px;
				}

				a {
					font-style: normal;
					font-weight: 600;
					font-size: 16px;
					padding-bottom: 5px;
					line-height: 23px;
					text-transform: uppercase;
					font-family: var(--rr-ff-jost);
					color: var(--rr-common-white);
					display: block;
					border-bottom: 2px solid transparent;

					&:hover {
						border-color: var(--rr-common-white);
					}
				}
			}
		}
	}

	&__thumbnail {
		left: 50%;
		width: 189px;
		bottom: 50px;
		z-index: 1;
		position: absolute;
		@include transform(translate(-50%, 0));

		.swiper-slide {
			width: 55px;

			&.swiper-slide-active {
				.banner__thumbnail-item {
					border: 2px solid var(--rr-common-white);
				}
			}
		}
	}

	&__thumbnail-item {
		width: 55px;
		height: 55px;
		overflow: hidden;
		@include border-radius(500px);
		border: 1px solid var(--rr-common-black);

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
