@use '../../utils' as *;
/*----------------------------------------*/
/*  9.2 banner Style 1
/*----------------------------------------*/

// Banner style 2
.banner-2 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__space {
        padding: 462px 0 200px;

        @media #{$xl} {
            padding: 400px 0 180px;
        }
        @media #{$lg }  {
            padding: 340px 0 160px;
        }
        @media #{$md}  {
            padding: 300px 0 140px;
        }
        @media #{$sm, $xs}  {
            padding: 280px 0 110px;
        }
        @media #{$xxs}  {
            padding: 240px 0 100px;
        }
    }

    &__content {

        p {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 29px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: var(--rr-common-white);
        }
    }

    &__title {
        color: var(--rr-common-white);
        font-family: var(--rr-ff-jost);
        font-style: normal;
        font-weight: 800;
        font-size: 80px;
        line-height: 85px;
        text-transform: uppercase;

        @media #{$xl} {
            font-size: 75px;
            line-height:80px;
        }
        @media #{$lg, $md,$sm} {
            font-size: 70px;
            line-height:75px;
        }
        @media #{$sm} {
            font-size: 65px;
            line-height:70px;
        }
        @media #{$xs} {
            font-size: 60px;
            line-height:65px;
        }
        @media #{$xxs} {
            font-size: 50px;
            line-height:55px;
        }

        span {
            font-weight: 200;
        }
    }
}