@use '../../utils' as *;

/*----------------------------------------*/
/*  5.1 blog
/*----------------------------------------*/
.blog-3 {

  &__item {
    width: 100%;
    height: calc(100% - 24px);
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;

    &-col {
      &:nth-child(3n + 2) {
        @media #{$lg, $md, $sm, $xs} {
          order: 1;
        }
      }
      &:nth-child(3n + 1) {
        @media #{$lg, $md, $sm, $xs} {
          order: 2;
        }
      }
      &:nth-child(3n + 3) {
        @media #{$lg, $md, $sm, $xs} {
          order: 3;
        }
      }
    }

    &-media {
      display: block;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__content {
      padding: 14px 30px 23px;
      display: flex;
      flex-direction: column;
      height: 100%;

      @media #{$sm, $xs} {
        padding: 25px 18px;
      }

      p {
        font-family: var(--rr-ff-jost);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        letter-spacing: -0.01em;
      }
    }

    &-meta {
      gap: 26px;
      display: flex;
      list-style: none;
      align-items: center;
      padding-bottom: 15px;
      margin-bottom: 18px;
      border-bottom: 1px solid #E1E5EB;

      @media #{$xs, $sm} {
        gap: 15px;
      }

      li {
        gap: 10px;
        display: flex;
        align-items: center;
        color: var(--rr-heading-primary);
        line-height: normal;

        a {
          gap: 10px;
          display: flex;
          align-items: center;

          i {
            font-size: 16px;
          }
        }
      }
    }

    h6 {
      font-size: 22px;
      line-height: 28px;
      font-weight: var(--rr-fw-sbold);

      @media #{$xs} {
        font-size: 20px;
        line-height: 26px;
      }
    }

    .read-more {
      gap: 5px;
      display: flex;
      font-size: 14px;
      align-items: center;
      font-weight: var(--rr-fw-sbold);
      text-transform: uppercase;
      color: var(--rr-theme-primary);
      margin-top: auto;

      i {
        font-weight: var(--rr-medium);
      }

      &:hover {
        color: var(--rr-theme-secondary);
      }
    }
  }
}