@use '../../utils' as *;

/*----------------------------------------*/
/*  5.1 blog
/*----------------------------------------*/
.blog-4 {

    &__left {
        padding-right: 14px;
        @media #{$xs, $sm, $md, $lg} {
            padding-right: 0;
        }
    }

    &__right {
        padding-left: 24px;
        @media #{$xs, $sm, $md, $lg} {
            padding-left: 0;
        }
    }

    &__pagination {
        gap: 10px;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;

        a {
            width: 55px;
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 23px;
            color: var(--rr-theme-secondary);
            background: #F6F6F6;

            &.active {
                background: var(--rr-theme-primary);
                color: var(--rr-common-white);
            }
        }
    }

    &__item {

        &__thumb-slider {
            position: relative;
            height: 450px;
            @media #{$xs} {
                height: 300px;
            }

            &__item {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &__arrow {
                display: flex;
                gap: 10px;
                position: absolute;
                z-index: 1;
                top: calc(50% - 20px);
                left: 0;
                padding: 20px;
                width: 100%;

                &-prev, &-next {
                    display: flex;
                    width: 55px;
                    height: 55px;
                    font-style: normal;
                    font-weight: 900;
                    font-size: 16px;
                    line-height: 16px;
                    align-items: center;
                    background: var(--rr-common-white);
                    color: var(--rr-theme-primary);
                    @extend %rr-transition-3;
                    @include transform(translate(0, -50%));

                    @media #{$xs} {
                        width: 40px;
                        height: 40px;
                        font-size: 14px;
                    }

                    &:hover, &:focus {
                        background: var(--rr-theme-primary);
                        color: var(--rr-common-white);
                    }
                }
            }
        }

        &-popup-video {
            position: absolute;
            z-index: 1;
            color: var(--rr-theme-primary);
            font-size: 40px;
            display: flex;
            top: 50%;
            left: 50%;
            width: 100px;
            height: 100px;
            align-items: center;
            text-indent: 7px;
            justify-content: center;
            background: var(--rr-common-white);
            @include border-radius(500px);
            @include transform(translate(-50%, -50%));

            @media #{$xs} {
                width: 80px;
                text-indent: 4px;
                font-size: 25px;
                height: 80px;
            }
        }

        &-content {
            padding: 33px 40px 27px;

            @media #{$xs} {
                padding-left: 20px;
                padding-right: 20px;
            }

            &-title {
                @media #{$xs} {
                    font-size: 22px;
                    line-height: 32px;
                }
            }

            .readmore {
                gap: 10px;
                font-family: var(--rr-ff-jost);
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 23px;
                display: inline-flex;
                align-items: center;
                text-transform: uppercase;
                color: var(--rr-theme-primary);

                &:hover {
                    color: var(--rr-theme-secondary);
                }
            }

            &-p {
                padding-bottom: 25px;
                border-bottom: 1px solid #DDDEE1;
            }
        }

        &-thumb {
            position: relative;

            &-img {
                display: block;
                height: 450px;
                width: 100%;
                overflow: hidden;

                @media #{$xs} {
                    height: 300px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        &-meta {
            gap: 2px 32px;
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            align-items: center;

            li {
                display: flex;
                align-items: center;

                a {
                    display: flex;
                    align-items: center;
                }

                i {
                    font-size: 16px;
                    margin-right: 8px;
                    color: var(--rr-theme-primary);
                }

                &:hover {
                    a {
                        color: var(--rr-theme-primary);
                    }
                }
            }
        }

        &-tag {
            top: 0;
            left: 0;
            padding: 40px;
            list-style: none;
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            position: absolute;

            li {
                a {
                    padding: 5px 17px;
                    align-items: center;
                    justify-content: center;
                    background: var(--rr-theme-primary);
                    font-family: var(--rr-ff-jost);
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 20px;
                    display: flex;
                    text-transform: uppercase;
                    color: var(--rr-common-white);
                }
            }
        }
    }
}