@use '../../utils' as *;

/*----------------------------------------*/
/*  5.3 blog-details
/*----------------------------------------*/
.blog__details {

    &-content {

        img {
            width: auto;
            overflow: hidden;
            max-width: 100%;
        }
        
        h1, h2, h3, h4, h5, h6 {
            margin-bottom: 25px;
            text-transform: uppercase;
            color: var(--rr-theme-secondary);
            font-weight: var(--rr-fw-bold);
        }
        
        p, img {
            margin-bottom: 30px;
        }

        img {
            + img {
                margin-left: 4px;
            }
        }
        
        ul:not(.blog__details-meta) {
            padding-left: 21px;
            margin-bottom: 25px;

            li {
                margin-bottom: 10px;
                color: var(--rr-text-body);

                i {
                    font-size: 16px;
                    margin-right: 15px;
                    font-weight: var(--rr-fw-black);
                    color: var(--rr-theme-primary);
                }
            }
        }

        blockquote {
            margin-top: 40px;
            padding: 60px;
            position: relative;
            margin-bottom: 40px;
            background: #F6F6F6;
            @media #{$xs, $sm, $md, $lg} {
                padding: 40px;
            }

            @media #{$xs} {
                padding: 20px 25px;
            }

            h1, h2, h3, h4, h5, h6 {
                margin-bottom: 3px;
                text-transform: capitalize;
            }
            h5 {
                font-family: var(--rr-ff-jost);
                font-style: normal;
                font-weight: 600;
                margin-bottom: 3px;
                font-size: 18px;
                line-height: 26px;
                color: var(--rr-theme-primary);

                @media #{$xs, $sm, $md, $lg} {
                    font-size: 16px;
                }
            }

            p {
                font-family: var(--rr-ff-jost);
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                margin-bottom: 20px;
                line-height: 32px;
                color: var(--rr-theme-secondary);
            }

            span:not(.icon) {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 23px;
                color: var(--rr-text-body);
            }

            span.icon {
                margin-bottom: 30px;
                @include border-radius(500px);
                background: var(--rr-theme-primary);
                width: 80px;
                height: 80px;
                min-width: 80px;
                min-height: 80px;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    margin: 0;
                }
            }
        }
    }

    &-meta {
        gap: 2px 32px;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        align-items: center;

        li {
            display: flex;
            align-items: center;

            a {
                display: flex;
                align-items: center;
            }

            i {
                font-size: 16px;
                margin-right: 8px;
                color: var(--rr-theme-primary);
            }

            &:hover {
                a {
                    color: var(--rr-theme-primary);
                }
            }
        }
    }

    &-thumb {
        overflow: hidden;

        img {
            margin-bottom: 0;
        }
    }

    &-bottom {
        gap: 10px;

        .share-social-media {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            flex-wrap: wrap;

            &_wrapper {
                display: flex;
                gap: 8px;
                align-items: center;

                span {
                    font-family: var(--rr-ff-jost);
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 23px;
                    color: var(--rr-theme-secondary);
                }
            }
        }

        &-tags {
            display: flex;
            gap: 11px;
            flex-wrap: wrap;

            &_wapper {
                display: flex;
                gap: 12px;
                align-items: center;

                span {
                    font-family: var(--rr-ff-jost);
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 23px;
                    color: var(--rr-theme-secondary);
                }
            }

            a {
                &:after {
                    content: ',';
                }

                &:last-child {
                    &:after {
                        content: inherit;
                    }
                }
            }
        }
    }

    &-pagination {
        padding: 30px 0;
        overflow: hidden;
        position: relative;
        border-top: 1px solid #F0F0F0;
        border-bottom: 1px solid #F0F0F0;

        @media #{$xs, $sm} {
            gap: 24px;
        }

        .dot {
            img {
                margin: 0;
            }

            @media #{$xs, $sm} {
                display: none;
            }
        }


        &-next {
        }

        &-prev, &-next {
            gap: 20px;

            .thumb {
                width: 80px;
                height: 80px;
                overflow: hidden;
                min-width: 80px;
                min-height: 80px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    margin-bottom: 0;
                }
            }

            .text {
                .title {
                    font-family: var(--rr-ff-jost);
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 23px;
                    color: var(--rr-theme-secondary);
                }
            }

            &:hover .title {
                color: var(--rr-theme-primary);
            }
        }
    }
}

.author-widget {
    padding: 30px;
    gap: 30px;

    &-media {
        width: 189px;
        height: 189px;
        min-width: 189px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-text {
        &__title {
            font-weight: 600;
            margin-bottom: 1px;
        }
        span {
            color: var(--rr-theme-primary);
        }

        p {
            margin-top: 10px;
        }
    }
}

.comment-item {
    gap: 35px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #F0F0F0;

    @media #{$xs} {
        gap: 20px;
    }
    @media #{$xxs} {
        gap: 13px;
    }

    &__reply {
        padding-left: 135px;

        @media #{$xs} {
            padding-left: 50px;
        }
        @media #{$xxs} {
            padding-left: 20px;
        }
    }

    &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }

    &__media {
        min-width: 110px;
        min-height: 110px;
        width: 110px;
        overflow: hidden;
        height: 110px;

        @media #{$xxs} {
            min-width: 70px;
            min-height: 70px;
            width: 70px;
            height: 70px;
        }
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__header {
        gap: 15px;
        margin-bottom: 12px;

        @media #{$xxs} {
            gap: 10px;
        }
    }
    
    &__content {
        
       .name {
           font-style: normal;
           font-weight: 600;
           font-size: 20px;
           line-height: 20px;
           color: var(--rr-theme-secondary);

           @media #{$xxs} {
               font-size: 18px;
           }
       }

        .date {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            display: block;
            margin-bottom: 10px;
        }

        button {
            font-style: normal;
            font-weight: 500;
            display: flex;
            gap: 9px;
            align-items: center;
            font-size: 16px;
            line-height: 16px;
            color: var(--rr-theme-primary);
        }
    }
}

.live-comment-widget {
    padding: 33px 40px 40px;

    @media #{$xs} {
        padding: 25px 20px 30px;
    }

    .contact-us-message__form-input {

        input, textarea {
            border: none;
        }

        textarea {
            min-height: 150px;
        }
    }

    .rr-btn-solid {
        font-size: 14px;
    }
}