@use "../../utils" as *;

/*----------------------------------------*/
/*  5.2 sidebar
/*----------------------------------------*/

// Sidebar rr-sticky
.sidebar-rr-sticky {
  position: sticky;
  top: 120px;

  @media #{$xs, $sm, $md, $lg} {
    margin-top: 50px;
  }
}
// Sidebar Widget
.sidebar__widget {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.sidebar__widget {
  padding: 40px;

  @media #{$xs} {
    padding: 35px;
  }

  &-title {
    margin-bottom: 20px;
    display: block;
    font-family: var(--rr-ff-jost);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    text-transform: uppercase;
    color: var(--rr-theme-secondary);
  }

  &-search {
    .search__bar {
      position: relative;
      height: 55px;

      input {
        box-shadow: none;
        border: none;
        background: var(--rr-common-white);
        padding: 16px 25px;
        padding-right: 50px;

        @include rr-placeholder {
          font-family: var(--rr-ff-jost);
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 23px;
          color: var(--rr-text-body);
        }
      }

      button {
        right: 0;
        padding: 0;
        width: 55px;
        height: 100%;
        position: absolute;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: var(--rr-common-white);
        background: var(--rr-theme-primary);

        &:hover {
          background: var(--rr-theme-secondary);
        }
      }
    }
  }

  &-category {

    a {
      display: flex;
      gap: 30px;
      position: relative;
      margin-bottom: 10px;
      background: var(--rr-common-white);
      font-family: var(--rr-ff-jost);
      font-style: normal;
      font-weight: 400;
      align-items: center;
      text-transform: capitalize;
      justify-content: space-between;
      padding: 13.5px 18px 13.5px 20px;
      font-size: 16px;
      line-height: 23px;
      color: var(--rr-text-body);

      &:last-child {
        margin-bottom: 0;
      }

      i {
        color: var(--rr-theme-primary);
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 16px;

        &:after {
          content: "";
          position: absolute;
          width: 1px;
          height: 100%;
          top: 0;
          right: 49px;
          background: #EAEAEA;
        }
      }

      &:hover {
        color: var(--rr-common-white);
        background: var(--rr-theme-primary);

        i {
          color: var(--rr-common-white);
        }
      }
    }
  }

  &-post {
    gap: 18px;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &__thum {
      width: 77px;
      height: 77px;
      overflow: hidden;
      min-width: 77px;
      display: block;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    &__content {

      &-meta {
        li {
          gap: 10px;
          display: flex;
          flex-wrap: wrap;
          list-style: none;
          font-size: 14px;
          line-height: 28px;
          align-items: center;
          color: var(--rr-text-body);

          a {
            gap: 10px;
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            font-size: 14px;
            line-height: 28px;
            align-items: center;
            color: var(--rr-text-body);
          }

          i {
            font-size: 14px;
            color: var(--rr-text-body);
          }

          a {
            &:hover {
              color: var(--rr-theme-primary);
              i {
                color: var(--rr-theme-primary);
              }
            }
          }
        }
      }

      &-title {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        font-family: var(--rr-ff-jost);
        color: var(--rr-theme-secondary);

        @media #{$xs} {
          font-size: 14px;
          line-height: 18px;
        }

        &:hover {
          color: var(--rr-theme-primary);
        }
      }
    }
  }

  &-tags {
    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      a {
        overflow: hidden;
        padding: 9px 15px;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 17px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: var(--rr-theme-secondary);
        background: var(--rr-common-white);


        &:hover {
          color: var(--rr-common-white);
          background: var(--rr-theme-primary);
        }
      }
    }
  }

  &-gallery {
    .gallery-photo {
      display: grid;
      flex-wrap: wrap;
      gap: 10px;
      grid-template-columns: auto auto auto;

      @media #{$lg} {
        grid-template-columns: auto auto auto auto auto;
      }

      @media #{$md} {
        grid-template-columns: auto auto auto auto;
      }

      @media #{$xs} {
        grid-template-columns: auto auto;
      }

      a {
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &:hover {
          img {
            @include transform(scale(1.2));
          }
        }
      }
    }
  }
}

