@use '../../utils' as *;

/*----------------------------------------*/
/*  7.1 cta
/*----------------------------------------*/
.cta-2 {
    object-fit: cover;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
        content: "";
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        height: 100%;
        background-color: rgb(12 12 12 / 58%);
    }

    &__content {
        z-index: 2;
        row-gap: 30px;
        display: flex;
        flex-wrap: wrap;
        padding: 61px 0;
        column-gap: 10px;
        position: relative;
        align-items: center;
        justify-content: space-between;

        &-text {

            span {
                font-size: 16px;
                line-height: 26px;
                color: var(--rr-common-white);
                font-weight: var(--rr-fw-sbold);
            }

            h3 {
                font-size: 40px;
                line-height: 52px;
                font-weight: var(--rr-fw-bold);
                color: var(--rr-common-white);

                @media #{$xs, $sm} {
                    font-size: 30px;
                    line-height: 42px;
                }
                @media #{$xxs} {
                    font-size: 27px;
                    line-height: 37px;
                }
            }
        }

        .btn-book {
            font-size: 16px;
            padding: 12.5px 39.5px;
            @extend %rr-transition-3;
            text-transform: uppercase;
            color: var(--rr-common-white);
            font-weight: var(--rr-fw-bold);
            border: 2px solid var(--rr-common-white);

            &:hover {
                background: var(--rr-theme-primary);
                border-color: var(--rr-theme-primary);
            }
        }
    }
}