@use '../../utils' as *;

.book-a-table {

  .container {
    position: relative;
    z-index: 1;
  }

  &__bg {
    top: -32px;
    left: -206px;
    position: absolute;
    width: 1705px;
    height: 170px;
  }

  &__content {
    gap: 24px;
    padding: 80px 80px 55px 120px;
    background-repeat: no-repeat;
    background-position: 52px 51px;

    @media #{$xs, $sm, $md, $lg} {
      gap: 50px;
      padding: 60px 40px;
    }

    @media #{$xs} {
      padding: 40px 25px;
    }

    &-left {
      max-width: 442px;
    }

    &-media img {
      border: 10px solid var(--rr-common-white);
    }
  }

  &__content-form__select {
    .nice-select{
      box-sizing: border-box;
      clear: both;
      cursor: pointer;
      display: block;
      float: left;
      outline: none;
      position: relative;
      text-align: left;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      white-space: nowrap;
      width: 100%;
      z-index: inherit;
      padding-left: 25px;
      padding-right: 45px;
      padding-top: 14px;
      padding-bottom: 14px;
      border: none;
      height: 50px;
      font-family: var(--rr-ff-jost);
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 23px;
      @include border-radius(0px);
      color: var(--rr-theme-secondary);
      background-color: var(--rr-common-white);

      @include  rr-placeholder{
        color: var(--rr-theme-secondary);
      }

      &:hover{
        border-color: #dbdbdb;
      }
      &:active,
      &.open,
      &:focus{
        border-color: #999;
      }
      &::after{
        position: absolute;
        content: '\f107';
        top: calc(50% - 1px);
        right: 25px;
        font-family: var(--rr-ff-fontawesome);
        color: var(--rr-theme-secondary);
        pointer-events: none;
        -webkit-transition: all 0.15s ease-in-out;
        transition: all 0.15s ease-in-out;
        margin-top: 0;
        transform-origin: center;
        @extend %translateY1_2;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
      }

      &.open{
        &::after{
          @include transform(translateY(-50%) rotate(-180deg));
        }
        & .list{
          opacity: 1;
          pointer-events: auto;
          -webkit-transform: scale(1) translateY(0);
          -ms-transform: scale(1) translateY(0);
          transform: scale(1) translateY(0);
        }
      }
      &.disabled{
        border-color: #ededed;
        color: #999;
        pointer-events: none;
        &::after{
          border-color: #cccccc;
        }
      }
      &.wide{
        width: 100%;

        & .list{
          left: 0;
          right: 0;
        }
      }
      &.right{
        float: right;

        & .list{
          left: auto;
          right: 0;
        }
      }
      &.small{
        font-size: 12px;
        height: 36px;
        line-height: 34px;
        &::after{
          height: 4px;
          width: 4px;
        }
        & .option{
          line-height: 34px;
          min-height: 34px;
        }
      }
      & .list{
        border: 1px solid  #C9F3FF;
        width: 100%;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
        box-sizing: border-box;
        margin-top: 4px;
        opacity: 0;
        overflow: hidden;
        padding: 0;
        pointer-events: none;
        position: absolute;
        top: 100%;
        left: 0;
        -webkit-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transform: scale(0.75) translateY(-21px);
        -ms-transform: scale(0.75) translateY(-21px);
        transform: scale(0.75) translateY(-21px);
        -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
        transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
        z-index: 9;
      }
      & .option{
        cursor: pointer;
        font-weight: 400;
        line-height: 40px;
        list-style: none;
        min-height: 50px;
        outline: none;
        padding-left: 18px;
        padding-right: 29px;
        text-align: left;
        -webkit-transition: all 0.2s;
        color: var(--rr-heading-primary);
        transition: all 0.2s;
        &:hover {
          background-color: #f6f7f9;
        }
        &.selected{
          font-weight: bold;
        }
        &.disabled{
          background-color: transparent;
          color: #999;
          cursor: default;
        }
      }
    }
    .no-csspointerevents {
      .nice-select {
        .list {
          display: none;
        }
        &.open {
          .list {
            display: block;
          }
        }
      }
    }
  }

  &__content-form {

    &__select {
      margin-bottom: 20px;

      .nice-select {
        margin-bottom: 20px;
      }
    }

    &__input {
      margin-bottom: 20px;

      .input-wrapper {
        position: relative;

        input {
          padding-left: 25px;
          padding-right: 45px;
          padding-top: 14px;
          border: none;
          padding-bottom: 14px;
          width: 100%;
          height: 50px;
          font-family: var(--rr-ff-jost);
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 23px;
          @include border-radius(0px);
          color: var(--rr-theme-secondary);
          background-color: var(--rr-common-white);

          &:focus, &:focus-visible {
            outline: none;
          }

          @include  rr-placeholder{
            color: var(--rr-theme-secondary);
          }
        }

        i {
          position: absolute;
          top: calc(50% - 1px);
          right: 25px;
          font-family: var(--rr-ff-fontawesome);
          color: var(--rr-theme-secondary);
          font-style: normal;
          font-weight: 400;
          @extend %translateY1_2;
          font-size: 14px;
          line-height: 14px;
        }
      }

      &.time {

        input {
          padding-right: 23px;
        }

        i {
          display: none;
        }
      }
    }
  }
}