@use '../../utils' as *;

.business-model {

  &__content {

    &-wrapper {
      max-width: 621px;

      @media #{$lg, $md, $sm, $xs} {
        max-width: 100%;
      }
    }

    &-item {
      column-gap: 25px;
      display: flex;
      align-items: center;
      row-gap: 12px;

      @media #{$xs} {
        flex-direction: column;
        align-items: start;
      }

      &:not(:last-child) {
        margin-bottom: 30px;
      }

      &-icon {
        width: 80px;
        height: 80px;
        min-width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--rr-theme-primary);
        @include border-radius(500px);
      }

      &-text {
        h6 {
          font-size: 22px;
          line-height: 26px;
          margin-bottom: 12px;
          font-weight: var(--rr-fw-sbold);
        }

        p {
          line-height: 26px;
        }
      }
    }
  }

  &__media {

    @media #{$lg, $md, $sm} {
      margin-top: 60px;
    }
    @media #{$xs} {
      margin-top: 40px;
    }
  }
}