@use '../../utils' as *;
.cart {

  @media (min-width: 1500px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
      max-width: 1410px;
    }
  }

  &-table{
    background-color: #F6F6F7;
    @media #{$md, $sm, $xs} {
      overflow: scroll;
    }
    table {
      margin: 0;
      --bs-table-bg: none;
      @media #{$md, $sm, $xs} {
        width: 900px;
      }
      @media #{$sm, $xs} {
        width: 800px;
      }
    }
    thead {

      tr {
        border-bottom: 1px solid #DCE0E3;

        .product-name {
          padding-left: 112px;
        }

        th {
          font-size: 16px;
          padding: 26px 0 24px;
          font-weight: 600;
          border-bottom: none;
          text-transform: uppercase;
          color: var(--rr-heading-primary);

          &.product-subtotal{
            text-align: right;
            padding-right: 40px;
          }

        }
      }
    }

    tbody {
      padding: 30px 0;

      tr {
        vertical-align: baseline;
        border-bottom: 1px solid #DCE0E3;

        td {
          padding: 0;
          padding-top: 30px;
          padding-bottom: 30px;
        }
        .product {

          &-remove {
            text-align: center;
            padding-left: 25px;
            padding-right: 15px;
            color: var(--rr-heading-primary);
          }

          &__wrapper{
            display: grid;
            align-items: center;
            grid-template-columns: 80px 1fr;
            grid-gap: 10px;
            column-gap: 25px;
            border-bottom: none;
          }

          &__name {

            .item {
              display: block;
              font-size: 14px;
              line-height: 24px;
              font-weight: var(--rr-fw-medium);
              margin-bottom: 2px;
              color: var(--rr-theme-primary);
            }

            .title {
              font-size: 18px;
              line-height: 28px;
              font-weight: var(--rr-fw-medium);
            }
          }
          &__price{
            font-size: 16px;
            line-height: 26px;
            padding-right: 110px;
            font-weight: var(--rr-fw-sbold);

            @media #{$md, $sm, $xs} {
              padding-right: 50px;
            }

            span{
              color: var(--rr-heading-primary);
            }
          }

          &__quantity {
            padding-right: 74px;

            &__group {
              display: flex;
              align-items: center;
              border: 1px solid #DCE0E3;
              position: relative;
              width: 80px;
              height: 50px;
              overflow: hidden;


              input {
                padding: 20px;
                padding-right: 0;
                padding-left: 0;
                background-color: transparent;
                color: #74787C;
                border-radius: 0;
                font-weight: var(--rr-fw-light);
                border: none;
                outline: none;
                box-shadow: none;
                text-align: center;
                margin-right: -15px;
              }
            }

            &__control {
              border-left: 1px solid #DCE0E3;
              margin: 0px;
              cursor: pointer;

              span {
                font-size: 16px;
                line-height: 23px;
                padding-right: 10px;
                padding-left: 10px;
                display: block;
                color: var(--rr-text-body);

                &:not(:last-child) {
                  border-bottom: 1px solid #DCE0E3;
                }
              }
            }
            @media #{$md, $sm, $xs} {
              padding-right: 20px;
            }
          }

          &__subtotal {
            text-align: right;
            padding-right: 40px;

            span {
              font-size: 16px;
              font-weight: var(--rr-fw-sbold);
            }
          }
        }
      }
    }
  }

  &__btn-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 20px;
    padding: 30px 30px;
    padding-bottom: 33px;
    background-color: #F6F6F7;

    @media #{$xs} {
      gap: 10px;
    }

    .left-item {
      display: grid;
      grid-gap: 10px;
      align-items: center;
      grid-template-columns: 296px 1fr;

      @media #{$md, $sm, $xs} {
        grid-template-columns: 1fr;
      }
      .rr-btn-solid {
        padding: 13.5px 31.5px;
        font-size: 14px;
      }

      .form-control{
        background-color: var(--rr-common-white);
        box-shadow: none;
        font-size: 16px;
        line-height: 26px;
        border: none;
        height: 50px;
        color: var(--rr-text-body);
        padding: 20px 25px;
        font-weight: 300;
        border-radius: 0;
        @include rr-placeholder{
          font-size: 16px;
          font-weight: 300;
          color: var(--rr-text-body);
        }
      }
    }

    .rr-btn-solid {
      padding:13.5px 34px;
      font-size: 14px;
    }
  }
}

.checkout{

  &__wrapper {
    background-color: #F6F6F7;
    max-width: 648px;
    width: 100%;
    padding: 42px 0px 37px;
  }

  &__item{
    align-items: start;
    column-gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 15px;
    padding-left: 40px;
    padding-right: 40px;

    @media #{$xs} {
      padding-left: 20px;
      padding-right: 20px;
    }

    &:not(:last-of-type){
      border-bottom: 1px solid #DCE0E3;
    }
    .title{
      font-size: 18px;
      line-height: 28px;
      color: var(--rr-heading-primary);
      font-weight: var(--rr-fw-sbold);
    }

  }

  &__top {
    display: grid;
    align-items: center;
    padding-bottom: 35px;
    grid-template-columns: 245px 1fr;

    @media #{$sm} {
      grid-template-columns: 200px 1fr;
    }
    @media #{$xs} {
      grid-template-columns: 130px 1fr;
    }

    span {
      font-size: 18px;
      line-height: 28px;
      color: var(--rr-heading-primary);
      font-weight: var(--rr-fw-regular);
      @media #{$xs} {
        margin-left: auto;
      }
    }
  }

  &__shipping {
    display: grid;
    padding-top: 35px;
    padding-bottom: 40px;
    grid-template-columns: 245px 1fr;

    @media #{$sm} {
      grid-template-columns: 200px 1fr;
    }

    @media #{$xs} {
      grid-template-columns: 1fr;
    }
  }

  &__right {

    p {
      color: var(--rr-text-body);
      font-size: 14px;
      line-height: 24px;
      font-weight: var(--rr-fw-light);
      margin-bottom: 25px;
    }
    span{
      color: var(--rr-heading-primary);
      font-size: 16px;
      font-weight: var(--rr-fw-regular);
    }
  }

  &__option-wrapper {
    margin-bottom: 18px;

    .shipping-option {
      display: flex;
      align-items: center;

      input{
        width: 18px;
        height: 18px;
        accent-color: var(--rr-heading-primary);
      }
      label{
        font-size: 16px;
        line-height: 26px;
        color: var(--rr-heading-primary);
        font-weight: 400;
        margin-left: 10px;
        cursor: pointer;
      }
      &:not(:last-of-type){
        margin-bottom: 11px;
      }
    }

  }

  &__total {
    display: grid;
    align-items: center;
    padding-top: 27px;
    grid-template-columns: 245px 1fr;

    @media #{$sm} {
      grid-template-columns: 200px 1fr;
    }

    @media #{$xs} {
      grid-template-columns: 130px 1fr;
    }

    span{
      font-size: 18px;
      line-height: 28px;
      color: var(--rr-heading-primary);
      font-weight: var(--rr-fw-regular);

      @media #{$xs} {
        margin-left: auto;
      }
    }
  }

  &-proceed {
    .rr-btn-solid  {
      padding: 16px 32px;
    }
  }
}