@use '../../utils' as *;

.checkout {

  @media (min-width: 1500px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
      max-width: 1410px;
    }
  }

  &-top {
    margin-bottom: 75px;

    @media #{$md, $sm, $xs} {
      margin-bottom: 40px;
    }

    &__item {

      p {
        width: 100%;
        display: block;
        font-size: 16px;
        padding: 17px 31px;
        background-color:#F6F6F7;
        color: var(--rr-heading-primary);
        font-weight: var(--rr-fw-medium);
       @extend %rr-transition-3;

        button {
          color: var(--rr-heading-primary);
          @extend %rr-transition-3;
          font-weight: var(--rr-fw-medium);
        }

        &:hover{
          background-color: var(--rr-theme-primary);
          color: var(--rr-common-white);

          button {
            color: var(--rr-common-white);
          }
        }
      }
    }
  }

  &__left {
    margin-right: -10px;

    @media #{$lg, $md, $sm, $xs} {
      margin-right: 0;
    }

    .form-header {
      margin-bottom: 30px;
    }
  }

  &-form {

    &__group {
      &:not(:last-of-type){
        margin-bottom: 30px;
      }
    }

    &__item {

      &.name{
        @media #{$sm, $xs} {
          margin-bottom: 30px;
        }

      }

      label{
        color: var(--rr-heading-primary);
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        margin-bottom: 14px;
      }

      input, .address{
        padding: 29px 20px;
        background-color:transparent;
        border: none;
        box-shadow: none;
        font-size: 16px;
        border: 1px solid #E4E4E4;
        border-radius: 0px;
        @include rr-placeholder{
          color: var(--rr-text-body);
        }
        &.street-control{
          margin-bottom: 20px;
        }
      }

      .address {
        height: 180px;
      }
    }

    &__item-input-select {

      .nice-select {
        @media #{$lg, $md, $sm, $xs} {
          margin-bottom: 20px;
        }

        box-sizing: border-box;
        clear: both;
        cursor: pointer;
        display: block;
        float: left;
        outline: none;
        position: relative;
        text-align: left !important;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        white-space: nowrap;
        width: 100%;
        z-index: inherit;
        padding-left: 20px;
        padding-right: 45px;
        padding-top: 22px;
        padding-bottom: 23px;
        border: 1px solid #EAEAEA;
        background-color: var(--rr-common-white);
        height: 60px;
        font-family: var(--rr-ff-jost);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 14px;
        @include border-radius(0px !important);
        color:#74787C !important;

        @include  rr-placeholder{
          color:#74787C !important;
        }

        &:hover{
          border-color:#EAEAEA;
        }
        &:active,
        &.open,
        &:focus{
          border-color:#EAEAEA;
        }
        &::after{
          position: absolute;
          content: '\f107';
          top: calc(50% - 1px);
          right: 25px;
          font-family: var(--rr-ff-fontawesome);
          color:#74787C;
          pointer-events: none;
          -webkit-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out;
          margin-top: 0;
          transform-origin: center;
          @extend %translateY1_2;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 14px;
        }

        &.open{
          &::after{
            @include transform(translateY(-50%) rotate(-180deg));
          }
          & .list{
            opacity: 1;
            pointer-events: auto;
            -webkit-transform: scale(1) translateY(0);
            -ms-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
          }
        }
        &.disabled{
          border-color: #ededed;
          color: #999;
          pointer-events: none;
          &::after{
            border-color: #cccccc;
          }
        }
        &.wide{
          width: 100%;

          & .list{
            left: 0 !important;
            right: 0 !important;
          }
        }
        &.right{
          float: right;

          & .list{
            left: auto;
            right: 0;
          }
        }
        &.small{
          font-size: 12px;
          height: 36px;
          line-height: 34px;
          &::after{
            height: 4px;
            width: 4px;
          }
          & .option{
            line-height: 34px;
            min-height: 34px;
          }
        }
        & .list{
          border: 1px solid  #C9F3FF;
          width: 100%;
          background-color: #fff;
          border-radius: 5px;
          box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
          box-sizing: border-box;
          margin-top: 4px;
          opacity: 0;
          overflow: hidden;
          padding: 0;
          pointer-events: none;
          position: absolute;
          top: 100%;
          left: 0;
          -webkit-transform-origin: 50% 0;
          -ms-transform-origin: 50% 0;
          transform-origin: 50% 0;
          -webkit-transform: scale(0.75) translateY(-21px);
          -ms-transform: scale(0.75) translateY(-21px);
          transform: scale(0.75) translateY(-21px);
          -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
          transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
          z-index: 9;
        }
        & .option{
          cursor: pointer;
          font-weight: 400;
          line-height: 40px;
          list-style: none;
          min-height: 55px;
          outline: none;
          padding-left: 18px;
          padding-right: 29px;
          text-align: left;
          -webkit-transition: all 0.2s;
          color:#74787C;
          transition: all 0.2s;
          &:hover {
            background-color: #f6f7f9;
          }
          &.selected{
            font-weight: bold;
          }
          &.disabled{
            background-color: transparent;
            color: #999;
            cursor: default;
          }
        }
      }
      .no-csspointerevents {
        .nice-select {
          .list {
            display: none;
          }
          &.open {
            .list {
              display: block;
            }
          }
        }
      }
    }
  }
}

.checkout-right{
  margin-left: 45px;
  @media #{$lg, $md, $sm, $xs} {
    margin-top: 50px;
    margin-left: 0;
  }

  .form-header {
    margin-bottom: 30px;
  }
}

.checkout-login-form, .checkout-coupon-form {
  background: #F6F6F7;
  padding: 40px;
  margin: 0;
  max-width: 600px;
  display: none;

  @media #{$xs} {
    padding: 30px 20px;
  }
}
.checkout-login-form {
  margin-bottom: 30px;
}

.order-box{
  padding-left: 40px;
  padding-right: 39px;
  padding-top: 36px;
  padding-bottom: 45px;
  background-color:#F6F6F7;

  @media #{$sm, $xs} {
    padding: 30px 20px;
  }

  .order-item{
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 80px 1fr;

    &:not(:last-of-type){
      margin-bottom: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid #DCE0E3;
    }
    @media #{$sm, $xs} {
      grid-template-columns: 1fr;
    }

    .order-left{
      .order-img{
        height: 80px;
        width: 80px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .product{
        color: var(--rr-heading-primary);
        font-size: 16px;
        line-height: 26px;
        font-weight: var(--rr-fw-sbold);
        margin-bottom: 0;
        text-transform: uppercase;
      }
      .left-title{
        font-size: 16px;
        font-weight: 400;
        color: var(--rr-heading-primary);
        line-height: 26px;
      }

      .total-price {
        font-weight: var(--rr-fw-medium);
        color: var(--rr-heading-primary);
      }
    }
    .order-right{
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 15px;
      flex-wrap: wrap;
      row-gap: 15px;

      .content{
        .category{
          color: var(--rr-theme-primary);
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 400;
          display: block;
          line-height: 24px;
        }
        .title{
          font-size: 18px;
          line-height: 28px;
          font-weight: var(--rr-fw-medium);
        }
      }
      .price{
        color: var(--rr-heading-primary);
        font-size: 16px;
        font-weight: var(--rr-fw-sbold);
        margin-bottom: 0;
        line-height: 26px;
        text-transform: uppercase;
      }
      .right-title{
        font-size: 16px;
        font-weight: 500;
        color: var(--rr-heading-primary);
        line-height: 1;
        span{
          color: var(--rr-text-body);
          font-weight: 400;
          margin-right: 10px;
        }
        &.title-2{
          color: var(--rr-theme-primary);
        }
      }
    }
    &.item-1{
      grid-template-columns: 200px 1fr;

      @media #{$md, $sm, $xs} {
        grid-template-columns: 100px 1fr;
      }

      .order-right{
        justify-content: end;
      }
    }
  }
}

.payment-option-wrap{
  margin-top: 40px;

  .payment-option{
    margin-bottom: 18px;

    .shipping-option {
      gap: 10px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      &:not(:last-of-type){
        margin-bottom: 10px;
      }
      input{
        width: 18px;
        height: 18px;
        accent-color: var(--rr-heading-primary);
      }
      label{
        font-size: 16px;
        font-weight: var(--rr-fw-normal);
        color: var(--rr-heading-primary);
      }
      .options{
        margin-bottom: 22px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;

        input{
          accent-color: var(--rr-heading-primary);
        }
      }
    }
  }
  .desc{
    font-size: 14px;
    line-height: 24px;

    a {
      color: var(--rr-theme-primary);
    }

  }
  .form-check{
    margin-bottom: 30px;

    .form-check-input{
      border: 1px solid #D8DBDE;
      box-shadow: none;
      accent-color: var(--rr-theme-primary);
    }
    .form-check-label{
      cursor: pointer;
    }
  }
  .rr-btn-solid {
    width: 100%;
    padding: 16px 29px;
  }
}