@use '../../utils' as *;

.experience-2 {

  &__space {
    padding: 103px 0;

    @media #{$md, $sm, $xs} {
      padding: 80px 0;
    }
  }

  &__item {

    @media #{$lg, $md, $sm, $xs} {
      display: flex;
      justify-content: center;
    }

    &-wrapper {
      gap: 24px;
      display: flex;
      justify-content: space-between;

      @media #{$lg, $md, $sm, $xs} {
        grid-template-columns: 1fr 1fr;
        display: grid;
      }
      @media #{$sm, $xs} {
        grid-template-columns: 1fr;
      }
    }

    p {
      margin-bottom: 0;
      font-family: var(--rr-ff-jost);
      font-style: normal;
      display: flex;
      align-items: center;
      gap: 12px;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      text-transform: uppercase;
      color: var(--rr-common-white);

      span.odometer {
        font-style: normal;
        font-weight: 700;
        font-size: 72px;
        line-height: 72px;
        display: flex;
        font-family: var(--rr-ff-jost);
        align-items: center;
        @media #{$sm, $xs} {
          font-size: 52px;
          line-height: 52px;
        }
      }
    }
  }
}