@use '../../utils' as *;

.opening-time {

  &__bottom {
    margin-bottom: 100px;

    .opening-time__content {
      margin-bottom: -80px;
    }
  }

  &__background {
    background-size: cover;
    background-position: center;
  }

  &__content {
    margin: 80px 0;
    padding: 100px 60px;
    background: var(--rr-common-white);
    box-shadow: 0px 7px 53px rgba(0, 0, 0, 0.05);
    max-width: 628px;

    @media #{$sm} {
      padding: 60px 40px;
    }
    @media #{$xs} {
      padding: 50px 25px;
    }

    &-table {
      border-color: #ECECEC;

      tr {
        border-left: hidden;
        border-right: hidden;
        border-color: #ECECEC;

        th {
          padding: 15px 5px;
          font-family: var(--rr-ff-jost);
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          text-transform: uppercase;
          color: var(--rr-theme-secondary);

          @media #{$xs} {
            font-size: 13px;
          }
        }

        td {
          padding: 12px 5px;
          font-family: var(--rr-ff-jost);
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 35px;
          text-transform: uppercase;
          color: var(--rr-theme-secondary);

          @media #{$xs} {
            font-size: 20px;
          }
        }
      }
    }

    a {
      padding: 11px 27.5px;
      font-family: var(--rr-ff-jost);
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;
      display: inline-flex;
      align-items: center;
      color: var(--rr-theme-primary);
      border:1px solid var(--rr-theme-primary);
      gap: 7px;

      @media #{$xs} {
        padding: 10px 20px;
      }

      &:hover {
        color: var(--rr-common-white);
        background-color: var(--rr-theme-primary);

        img {
          filter: brightness(0) invert(1);
        }
      }
    }
  }
}