@use '../../utils' as *;

/**----------------------------------------
    START: Shop Details CSS
----------------------------------------*/
.shop-details {
  &__thumb {
    margin-right: 28px;
    background-color: #F6F6F7;
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 620px;

    @media #{$sm, $md} {
      height: 500px;
      padding: 30px;
    }
    @media #{$xs} {
      height: 300px;
      padding: 20px;
    }
    @media #{$xs, $sm, $md} {
      margin-right: 0;
    }

    .sale {
      position: absolute;
      background-color: var(--rr-theme-primary);
      @include border-radius(500px);
      top: 30px;
      left: 30px;
      display: inline-block;
      padding:0px 13px;
      color: var(--rr-common-white);
      font-weight: var(--rr-fw-bold);
      text-transform: uppercase;
      font-size: 12px;
      line-height: 22px;
    }
  }

  &__info {
    margin-left: 28px;
    max-width: 529px;
    @media #{$xs, $sm, $md} {
      margin-left: 0;
      margin-top: 40px;
      max-width: 100%;
    }
  }

  &__rating {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;

    &-list {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 7px;

      li {
        i {
          color: var(--rr-theme-primary);
          font-size: 14px;
          line-height: 24px;
        }
      }
    }
  }

  .price {
    font-size: 22px;
    line-height: 32px;
    font-weight: var(--rr-fw-sbold);
    border-bottom: 1px solid #EBEBEB;
    padding-bottom: 32px;
  }

  .desc {
    margin: 18px 0;
  }

  &__btn-wrap {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-top: 1px solid #EBEBEB;
    padding-top: 46px;
    margin-bottom: 32px;

    .rr-btn-solid {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      padding: 15px 36px;
    }
  }

  &__quantity {

    &-group {
      display: flex;
      align-items: center;
      position: relative;
      width: 100px;
      height: 50px;
      background-color: var(--rr-heading-primary);
      overflow: hidden;


      input {
        padding: 20px;
        padding-right: 0;
        padding-left: 0;
        background-color: var(--rr-heading-primary);
        color: var(--rr-common-white);
        border-radius: 0;
        border: none;
        font-size: 18px;
        font-weight: var(--rr-fw-sbold);
        outline: none;
        box-shadow: none;
        text-align: center;
      }
    }
    &-control {
      margin: 0px;
      cursor: pointer;
      padding-top: 14px;
      padding-right: 10px;
      padding-bottom: 14px;

      span {
        display: block;
        font-size: 16px;
        line-height: 11px;
        padding-right: 10px;
        color: rgb(255 255 255 / 20%);

        &:hover {
          color: var(--rr-common-white);
        }
      }
    }
  }

  &__list {
    list-style: none;

    li {
      &:not(:last-of-type){
        margin-bottom: 5px;
      }
    }
  }
}

.shop-description {

  .nav {
    gap: 71px;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding-bottom: 21px;
    margin-bottom: 40px;

    @media #{$xs, $sm} {
      gap: 23px 30px;
      padding-bottom: 10px;
    }

    li {
      button {
        font-size: 14px;
        line-height: 24px;
        text-transform: uppercase;
        color: var(--rr-text-body);
        font-weight: var(--rr-fw-sbold);
        position: relative;
        &::after {
          z-index: 1;
          width: 999999%;
          transform: translate(-50%, 0);
          border-bottom: 2px solid var(--rr-theme-secondary);
          content: "";
          left: 50%;
          position: absolute;
          top: 44px;

          @media #{$xs, $sm} {
            top: 33px;
          }
        }

        &.active {
          color: var(--rr-heading-primary);

          &::before {
            z-index: 2;
            width: calc(100% + 40px);
            transform: translate(-50%, 0);
            border-bottom: 2px solid var(--rr-theme-primary);
            content: "";
            left: 50%;
            position: absolute;
            top: 44px;

            @media #{$xs, $sm} {
              top: 33px;
            }
          }
        }
      }
    }
  }
}

.product-table {
  background-color: #f6f6f6;
  margin: 0;
  --bs-table-bg: transparent;

  @media #{$xs, $sm} {
    width: 700px;
  }

  &__wrapper {
    overflow: scroll;
  }

  thead tr th, tbody tr td {
    &:not(&:last-child) {
      border-right: 1px solid rgb(17 17 17 / 10%);
    }
    border-bottom: 1px solid rgb(17 17 17 / 10%);
  }

  thead tr th {
      padding: .7rem .7rem;
      text-align: center;
      color: var(--rr-theme-primary);
  }

  tbody tr td {
    text-align: center;
    color: var(--rr-color-heading-primary);
    padding: 15px 0;
  }
}

.review-item {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid rgb(17 17 17 / 10%);
  padding: 30px;

  @media #{$xs, $sm} {
    flex-direction: column;
    align-items: start;
  }

  &__wrap {
    gap: 30px;
  }

  &_thumb {
    height: 90px;
    width: 90px;
    min-width: 90px;
    @include border-radius(500px);
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &_content {
    width: 100%;
    &-top {
      flex-wrap: wrap;
      margin-bottom: 10px;
      display: flex;
      align-items: end;
      gap: 20px;
      justify-content: space-between;

      @media #{$xs} {
        gap: 10px;
        flex-direction: column;
        align-items: start;
      }

      .review {
        list-style: none;
        display: flex;
        gap: 5px;
        flex-direction: row;

        li {
          i {
            color: var(--rr-theme-primary);
          }
        }
      }
    }
  }
}

.review-form-wrap {
  .review {
    list-style: none;
    display: flex;
    gap: 5px;
    flex-direction: row;

    li {
      i {
        color: var(--rr-theme-primary);
      }
    }
  }
}