@use '../../utils' as *;

.team-2 {

  &__item {

    &-media {
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-arrow {
      padding: 7.5px 16.5px;
      display: inline-block;
      background-color: var(--rr-theme-primary);
      position: absolute;
      top: 0;
      right: 20px;
    }

    &-text {
      background-color: var(--rr-theme-secondary);
      padding-top: 21px;
      padding-left: 30px;
      padding-bottom: 20px;
      padding-right: 20px;
      position: relative;

      span {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: var(--rr-fw-sbold);
      }

      h6 {
        font-size: 22px;
        line-height: normal;
        color: var(--rr-common-white);

        @media #{$xs, $sm} {
          font-size: 18px;
        }
      }
    }
  }
}